.bold {
    font-weight: bold !important;
}

#landlord-property-item-wrapper {
    .property-group-information {
        margin-top: 20px;
        margin-bottom: 20px;
        .property-information {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            .property-address {
                max-width: 270px;
                line-height: 1.25rem;
                max-height: 2.5rem;
                overflow: hidden;
                display: block;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }
    }
}