#property-list-landlord-wrapper {
    margin: 40px 150px;
    position: relative;
    .title {
        text-align: center;
    }
    .add-btn {
        position: absolute;
        right: 0;
    }
    #property-list-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 24px;
        .property-item {
            border-radius: 10px;
            margin-top: 40px;
            flex: 0 0 35%;
            max-width: 35%;
            text-decoration: none;
            color: #000;
            .small-tiltle {
                text-align: center;
            }
            .input-wrapper {
                display: flex;
                justify-content: space-between;
                .input {
                    width: 40%;
                }
            }
            .input {
                margin-top: 24px;
            }
        }
    }
}

@media only screen and (max-width: 63.9375em) {
    #property-list-landlord-wrapper {
        .add-btn {
            margin-top: 20px;
        }
        #property-list-container {
            margin-top: 40px;
            .property-item {
                flex: 0 0 80%;
                max-width: 80%;
            }
        }
    }
}