.body{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}  
.filterComponent{
    margin: 20px 0px 100px 0px;
}  
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}