/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5e5e5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #979797;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #757575;
}

.filter-dialog {
  width: fit-content;
}
