@import "/src/theme/global-color.scss";
.mySwiper{
    width: 1028px;
    display: flex;
    // position: absolute;
}
.slide{
    width:100;
}
.card-img{
    width: 100%; overflow: auto; 
    object-fit: cover;
    aspect-ratio: 1;
}
.number-of-accommodation{
    font-size: 12px;
    padding: 3px 0px 0px 0px;
}
.place{
    padding: 12px 0px 0px 0px;
}
p, h5{
    margin:0;
}